{% extends "base.html" %}
{% load crispy_forms_tags staticfiles %}

{% block title %}Notificaciones Administraciones Productos{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-9">
        <h1 class="page-header">Notificaciones Administraciones Productos</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/notificaciones-autocomplete.js' %}"></script>
{% endblock javascript %}
