{% extends 'base.html' %}

{% block title %}Eliminar Notificación{% endblock title %}

{% block content %}
    <br>
    <div class="alert alert-danger">
        <h1 class="page-header">
           <i class="fa fa-warning"></i> Eliminar Notificación
        </h1>
        <form action="" method="post">
            {% csrf_token %}
            <p><b>ATENCIÓN:</b> Está seguro de eliminar la notificación?
            <br>
            - Tenga en cuenta que se eliminaran todos los registros relacionados<br>
            - Los notificaciones eliminadas ya no podran ser vistas por las administraciones
           </p>
            <button type="submit" class='btn btn-danger'><i class="fa fa-trash-o"></i> Eliminar</button>
            {% if '/edificios/' in  request.get_full_path %}
                <a href="{% url 'notificaciones:edificios-list' %}">Cancelar</a>
            {% endif %}
            {% if '/administraciones/' in  request.get_full_path %}
                <a href="{% url 'notificaciones:administraciones-list' %}">Cancelar</a>
            {% endif %}
        </form>
    </div>
{% endblock %}
