.row_box {
    background-color: #f9f9f9;
    padding:5px;
}

.dashboard_block_panel {
    padding:20px;
}

.title_col {
    padding-top:25%
}

.ver_col {
    padding-top:85%
}

.alt0 {
    background-color: #f0f0f0;
}

.alt1 {
    background-color: #fff;
}