{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Horarios del edificio{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <br>
            <a class="btn btn-success" href="{% url 'horarios:edificio_horario_list' edificio.id %}">
                <i class="fa fa-reply"> Volver</i>
            </a>

            <h1 class="page-header">
                {% if form.instance.id %}
                    Editar
                {% else %}
                    Nuevo
                {% endif %}
                horario del edificio "{{edificio.nombre}}"
            </h1>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        {{ form.personales|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                       {{ form.lunes|as_crispy_field }}
                    </div>
                    <div class="col-lg-2">
                       {{ form.martes|as_crispy_field }}
                    </div>
                    <div class="col-lg-2">
                       {{ form.miercoles|as_crispy_field }}
                    </div>
                    <div class="col-lg-2">
                       {{ form.jueves|as_crispy_field }}
                    </div>
                    <div class="col-lg-2">
                       {{ form.viernes|as_crispy_field }}
                    </div>
                    <div class="col-lg-2">
                       {{ form.sabado|as_crispy_field }}
                    </div>
                    <div class="col-lg-2">
                       {{ form.domingo|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                       {{ form.hora_desde|as_crispy_field }}
                    </div>
                    <div class="col-lg-6">
                       {{ form.hora_hasta|as_crispy_field }}
                    </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check">
                        </i> Confirmar
                    </button>
                  </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}