<div class="col-lg-12">
    <br>
    <div class="alert alert-info" role="alert">
        <div class="row">
            <div class="col-lg-9">
                Aún no tienes actualizado tu perfil, sería de mucha utilidad que edites tus datos.
            </div>
            <div class="col-lg-12">
                <a class="btn btn-success pull-right">Gracias, en otro momento</a>
                <a href="/perfiles/update" class="btn btn-primary pull-right">Modificar</a>
            </div>
        </div>
    </div>
</div>