<div class="col-lg-12">
    <br>
    <div class="alert alert-info" role="alert">
        <div class="row">
            <div class="col-lg-9">
                <b>Aún no tienes actualizado tu perfil, sería de mucha utilidad que modifiques tus datos.</b>
            </div>
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <a href="/perfiles/update" class="btn btn-primary">Modificar</a>
                <a class="btn btn-success">Gracias, en otro momento</a>

            </div>
        </div>
    </div>
</div>