<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">

                    <input id="buscar" type="text" class="form-control" placeholder="Buscar..."  data-provide='typeahead'>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>

            {% if request.user.is_staff %}
                <li>
                    <a href="{% url 'edificios:list' %}"><i class="fa fa-building fa-fw"></i> Edificios </a>
                </li>
            {% else %}
                <!-- Lista de edificios del usuario logueado -->
                {% if request.user.is_authenticated %}
                    {% if edificios_usuarios %}
                        <li class="edificio active">
                            <a href="#"><i class="fa fa-building fa-fw"></i> Mis Clientes<span class="fa arrow"></span></a>
                            <ul class="{% if '/edificios/' in request.get_full_path or '/contactos/' in request.get_full_path or '/llaves/' in request.get_full_path or '/fotos/' in request.get_full_path or '/horarios/' in request.get_full_path %}nav nav-second-level collapse in{% else %}nav nav-second-level{% endif %}">
                                {% for edificio in edificios_usuarios %}
                                    <li class="edificio ">
                                        <a href="{% url 'edificios:administraciones' edificio.id %}"> {{edificio.direccion}} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}<!-- / Lista de edificios del usuario logueado -->
                    <li>
                        <a href="{% url 'productos:list' %}"><i class="fa fa-archive"></i> Productos</a>
                    </li>
                    <li>
                        <a href="{% url 'servicios:list' %}"><i class="fa fa-cog"></i> Servicios</a>
                    </li>
                {% endif %}
            {% endif %}

        </ul>

        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>