<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">

                    <input id="buscar" type="text" class="form-control" placeholder="Buscar..."  data-provide='typeahead'>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>

            {% if request.user.is_staff %}
                <li>
                    <a href="{% url 'edificios:list' %}"><i class="fa fa-building fa-fw"></i> Edificios </a>
                </li>
                <li class="notificaciones">
                    <a href="#"><i class="fa fa-bullhorn fa-fw"></i> Notificaciones <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="notificaciones">
                            <a href="{% url 'notificaciones:definir' %}"><i class="fa fa-chevron-circle-right"></i> Enviar</a>
                        </li>
                        <li class="notificaciones">
                            <a id="open_notificaciones_modal"><i class="fa fa-bars"></i> Historial</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <!-- Lista de edificios del usuario logueado -->
                {% if request.user.is_authenticated %}
                    {% if edificios_usuarios %}
                        <li class="edificio active">
                            <a href="#"><i class="fa fa-building fa-fw"></i> Mis Clientes<span class="fa arrow"></span></a>
                            <ul class="{% if '/edificios/' in request.get_full_path or '/contactos/' in request.get_full_path or '/llaves/' in request.get_full_path or '/fotos/' in request.get_full_path or '/horarios/' in request.get_full_path %}nav nav-second-level collapse in{% else %}nav nav-second-level{% endif %}">
                                {% for edificio in edificios_usuarios %}
                                    <li class="edificio ">
                                        <a href="{% url 'edificios:administraciones' edificio.id %}"> {{edificio.direccion}} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}<!-- / Lista de edificios del usuario logueado -->
                    <li>
                        <a href="{% url 'productos:list' %}"><i class="fa fa-archive"></i> Productos</a>
                    </li>
                    <li>
                        <a href="{% url 'servicios:list' %}"><i class="fa fa-cog"></i> Servicios</a>
                    </li>
                {% endif %}
            {% endif %}

        </ul>

        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>


<!-- modal 'notificaciones' -->
<div class="modal fade" id="notificaciones_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
                Ver Notificaciones de ...
            </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{% url 'notificaciones:administraciones-list' %}" class="pull-right">
                            <i class="fa fa-user fa-5x"></i><br>
                            Administraciones
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'notificaciones:edificios-list' %}">
                            <i class="fa fa-building fa-5x"></i><br>
                            Edificios
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- / modal 'notificaciones' -->

