{% load comments i18n %}
{% load crispy_forms_tags %}

<form class="form-horizontal" action="{% url 'custom-comments:envio' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}" />

    {% if object.usuario %}
        <input type="hidden" name="comment_owner_email" value="{{ object.usuario.perfil.email_1 }}" />
    {% else %}
        <input type="hidden" name="comment_owner_email" value="{{ object.edificio.user.perfil.email_1 }}" />
    {% endif %}

  {{form|crispy}}
  <p class="submit">
    <input type="submit" name="post" class="btn btn-primary" value="{% trans "Post" %}"/>
  </p>
</form>
