<div class="col-lg-12">
    <br>
    <div class="alert alert-info" role="alert">
        <div class="row">
            <div class="col-lg-9">
                <b>Aún no tienes actualizado tu perfil, sería de mucha utilidad que modifiques tus datos.</b>
            </div>
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <br>
                <a href="{% url 'perfiles:perfiles_update' %}" class="btn btn-success">Modificar</a>
                <a href="{% url 'perfiles:no_mostrar_msg_bienvenida' %}" class="btn">Gracias, en otro momento</a>
            </div>
        </div>
    </div>
</div>