{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load relaciones_tags %}

{% block content %}
    {% autoescape off %}
    <br>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-file-text-o fa-fw"></i> Últimas 3 notas técnicas
                </div>
                <div class="panel-body dashboard_block_panel">
                    {% for nt in notas_tecnicas %}
                        <div class="row row_box
                            {% if forloop.counter|divisibleby:2 == False %}alt0{% else %}alt1{% endif %}">
                            <div class="col-sm-4">
                                <a href="{% url 'edificios:administraciones' nt.edificio.id %}">
                                {% if nt.edificio.foto_fachada %}
                                    <img data-toggle="tooltip" data-placement="right" title="{{nt.edificio.direccion}} - {{nt.edificio.nombre}}" src="{% thumbnail nt.edificio.foto_fachada 100x100 crop %}" alt="No imagen">
                                {% else %}
                                    <img data-toggle="tooltip" data-placement="right" title="{{nt.edificio.direccion}} - {{nt.edificio.nombre}}" src="{% static 'images/sin-imagen-100x100.jpg' %}">
                                {% endif %}
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <div class="title_col">
                                    {{nt.estado|mostrar_estados}} <strong>{{nt.titulo}}</strong>
                                    <br>
                                    <i class="fa fa-clock-o"></i> {{nt.creado|date:"SHORT_DATE_FORMAT"}}
                                </div>
                            </div>
                            <div class="col-sm-2">
                                 <div class="ver_col">
                                     <a class="btn btn-success" href="{% url 'notas-tecnicas:detail' nt.id %}">Ver</a>
                                 </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bullhorn fa-fw"></i> Últimas 3 notificaciones de mis clientes
                </div>
                <div class="panel-body dashboard_block_panel">
                    {% for ne in notificaciones_edificios %}
                        <div class="row row_box {% if forloop.counter|divisibleby:2 == False %}alt0{% else %}alt1{% endif %}"">
                            <div class="col-sm-4">
                                {% if ne.producto %}
                                    <a href="{% url 'productos:detail' ne.producto.id %}">
                                        {% if ne.producto.image %}
                                            <img data-toggle="tooltip" data-placement="right" title="{{ne.producto}}" src="{% thumbnail ne.producto.image 100x100 crop %}" alt="No imagen">
                                        {% else %}
                                            <img data-toggle="tooltip" data-placement="right" title="{{ne.producto}}" src="{% static 'images/sin-imagen-100x100.jpg' %}">
                                        {% endif %}

                                    </a>
                                {% else %}
                                    <a href="{% url 'servicios:detail' ne.servicio.id %}">
                                        {% if ne.servicio.image %}
                                            <img data-toggle="tooltip" data-placement="right" title="{{ne.servicio}}" src="{% thumbnail ne.servicio.image 100x100 crop %}" alt="No imagen">
                                        {% else %}
                                            <img data-toggle="tooltip" data-placement="right" title="{{ne.servicio}}" src="{% static 'images/sin-imagen-100x100.jpg' %}">
                                        {% endif %}
                                    </a>
                                {% endif %}
                                </a>
                            </div>
                            <div class="col-sm-6" >
                                <div class="title_col">
                                    {{ne.estado|mostrar_estados}} <strong>{{ne.titulo}}</strong>
                                    <br>
                                    <i class="fa fa-clock-o"></i> {{ne.creado|date:"SHORT_DATE_FORMAT"}}
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ver_col">
                                    <a class="btn btn-success">Ver</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bullhorn fa-fw"></i> Mis últimas 3 notificaciones
                </div>
                <div class="panel-body dashboard_block_panel">
                    {% for nu in notificaciones_usuarios %}
                        <div class="row row_box {% if forloop.counter|divisibleby:2 == False %}alt0{% else %}alt1{% endif %}"">
                            <div class="col-sm-4">
                                {% if nu.producto %}
                                    <a href="{% url 'productos:detail' nu.producto.id %}">
                                        {% if nu.producto.image %}
                                            <img data-toggle="tooltip" data-placement="right" title="{{nu.producto}}" src="{% thumbnail nu.producto.image 100x100 crop %}" alt="No imagen">
                                        {% else %}
                                            <img data-toggle="tooltip" data-placement="right" title="{{nu.producto}}" src="{% static 'images/sin-imagen-100x100.jpg' %}">
                                        {% endif %}

                                    </a>
                                {% else %}
                                    <a href="{% url 'servicios:detail' nu.servicio.id %}">
                                        {% if ne.servicio.image %}
                                            <img data-toggle="tooltip" data-placement="right" title="{{nu.servicio}}" src="{% thumbnail nu.servicio.image 100x100 crop %}" alt="No imagen">
                                        {% else %}
                                            <img data-toggle="tooltip" data-placement="right" title="{{nu.servicio}}" src="{% static 'images/sin-imagen-100x100.jpg' %}">
                                        {% endif %}
                                    </a>
                                {% endif %}
                                </a>
                            </div>
                            <div class="col-sm-6" >
                                <div class="title_col">
                                    {{nu.estado|mostrar_estados}} <strong>{{nu.titulo}}</strong>
                                    <br>
                                    <i class="fa fa-clock-o"></i> {{nu.creado|date:"SHORT_DATE_FORMAT"}}
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ver_col">
                                    <a class="btn btn-success">Ver</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endautoescape %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock css %}