{% extends "account/base.html" %}

{% load i18n %}

{% load url from future %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-9">
          <h1 class="page-header">{% trans "Sign In" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>

{% endblock %}
