{% extends "base.html" %}
{% load productos_tags %}
{% load thumbnail %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ object.nombre }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <br>
            <a class="btn btn-success" href="{% url 'productos:list' %}"><i class="fa fa-reply"> Volver</i></a>
            <h1 class="page-header">
                {{ object.nombre }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            {% fotos_productos object.id as fotos %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-picture-o text-white"></i> Fotos
                </div>
                <div class="panel-body">
                    <div class="well">
                        {% if object.image %}
                            <a class="fancybox" rel="gallery1" href="{% thumbnail object.image  500x500  %}">
                                <img src="{% thumbnail object.image  100x100  %}">
                            </a>
                        {% else %}
                            <img src="{% static 'images/sin-imagen.jpg' %}">
                        {% endif %}
                        <br>
                        {% if fotos %}
                            {% for foto in fotos %}
                                <a class="fancybox" rel="gallery1" href="{% thumbnail foto.path 500x500 %}" title="{{foto.nombre}}">
                                    <img src="{% thumbnail foto.path 100x100 %}"><br>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="well">
                <b>Etiquetas:</b>
                {% for t in object.tags.all %}
                    <a href="/productos/tag/{{t.name}}" class="label label-default">
                        {{  t.name }}
                    </a>
                {% endfor %}
            </div>
            {% autoescape off %}{{ object.descripcion }} {% endautoescape %}

            <br><br>
            <a class="btn btn-success" href="{% url 'productos:pedir_cotizacion' object.id %}">
                <i class="fa fa-envelope"></i> Solicitar una cotización
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-envelope-o"></i> Envianos tu consulta
                </h3>
              </div>
              <div class="panel-body">
                  <p>Utilize el siguiente formulario para comunicarte con nosotros acerca de este producto.</p>
                <form method="post" action="{% url 'productos:enviar_consulta' object.id %}">
                    {% csrf_token %}
                    {{ form_consulta|crispy }}
                    <input type="submit" class="btn btn-success">
                </form>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Otros productos</h1>
        </div>
    </div>
    <div class="row">
        {% for otro_producto in otros_productos %}
            <div class="col-lg-4">

                <div class="panel panel-primary" style="height: 400px">
                    <div class="panel-heading">
                      <i class="fa fa-archive"></i> {{otro_producto.nombre}}
                    </div>
                    <div class="panel-body text-center">
                        {% if otro_producto.image %}
                            <img class="img-responsive center-block" src="{% thumbnail otro_producto.image 100x100 crop %}" alt="No imagen">
                        {% else %}
                            <img class="img-responsive center-block" src="{% static 'images/sin-imagen.jpg' %}">
                        {% endif %}
                        <div class="well">
                            fsdfs f sf s fs f sfs f f f sf sf sfds f f fsd fdsfsdfds fsf dsfdsfds
                        </div>
                        <!--<br>
                        <div class="well">
                            {% autoescape off %}{{ otro_producto.descripcion|truncatewords:20 }} {% endautoescape %}
                        </div>-->
                        <a class="btn btn-success" href="{% url 'productos:detail' otro_producto.id %}">Visitar</a>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}