{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Editar Perfil</h1>
                <form class="form-horizontal" method="post" action="/perfiles/update/">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="control-group">
                      <div class="controls">
                        <button type="submit" class="btn btn-primary">Editar</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
