{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load relaciones_tags %}

{% block title %} {{object.nombre}} {% endblock %}

{% block content %}
    {% autoescape off %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-building fa-fw"></i> {{ object.nombre }}
                <div class="pull-right">
                    <a id="open_recursos_modal" class="btn btn-link btn-lg btn-datos-clientes">
                        Datos del Cliente <i class="fa fa-cog"></i>
                    </a>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="well ">
                {% if object.foto_fachada %}
                    <div class="pull-right">
                        <a href="{% url 'edificios:administraciones_fachada_update' object.id %}">
                            <i class="fa fa-pencil text-muted"></i>
                        </a>
                    </div>
                    <br>
                    <img src="{% thumbnail object.foto_fachada 300x300 crop %}" alt="No imagen">
                {% else %}
                    <img src="{% static 'images/edificio-sin-foto.png' %}">
                    <br>
                    <a href="{% url 'edificios:administraciones_fachada_update' object.id %}">
                        Agregá una foto de fachada
                    </a>
                {% endif %}
            </div>
            <!-- fotos miniaturas -->
            {% include 'fotos/edificios_fotos.html' %}
            <!-- / fotos miniaturas -->
            <div class="panel panel-primary"><!-- Detalles -->
                <div class="panel-heading">
                  <i class="fa fa-bars text-white"></i> Detalles
                  <div class="pull-right">
                      <a title="Editar" href="{% url 'edificios:administraciones_detalles_update' object.id %}">
                          <i class="fa fa-pencil text-white"></i>
                      </a>
                  </div>
                </div>
                <div class="panel-body">
                    <div class="well well-lg">
                      <label><strong>Dirección: </strong></label>
                      {{ object.direccion }}
                      <br>
                      <label><strong>Cantidad de pisos: </strong></label>
                      {% if object.cantidad_pisos %}{{ object.cantidad_pisos }}{% else %}-{% endif %}
                      <br>
                      <label><strong>Cantidad de unidades: </strong></label>
                      {% if object.cantidad_unidades %}{{ object.cantidad_unidades}}{% else %}-{% endif %}
                    </div>
                </div>
            </div><!-- / Detalles -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary"><!-- notas tecnicas -->
                <div class="panel-heading">
                    <i class="fa fa-file-text-o fa-fw"></i> Nuevas notas técnicas
                </div>
                <div class="panel-body dashboard_block_panel">
                    {% if notas_tecnicas %}
                        {% for nt in notas_tecnicas %}
                            <div class="row row_box
                                {% if forloop.counter|divisibleby:2 == False %}alt0{% else %}alt1{% endif %}">
                                <div class="col-sm-4">
                                    <a href="{% url 'edificios:administraciones' nt.edificio.id %}">
                                    {% if nt.edificio.foto_fachada %}
                                        <img data-toggle="tooltip" data-placement="right" title="{{nt.edificio.direccion}} - {{nt.edificio.nombre}}" src="{% thumbnail nt.edificio.foto_fachada 50x50 crop %}" alt="No imagen">
                                    {% else %}
                                        <img data-toggle="tooltip" data-placement="right" title="{{nt.edificio.direccion}} - {{nt.edificio.nombre}}" src="{% static 'images/edificio-sin-foto50x50.png' %}">
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        {{nt.estado|mostrar_estados}} <strong>{{nt.titulo}}</strong>
                                        <br>
                                        <i class="fa fa-clock-o"></i> {{nt.creado|date:"SHORT_DATE_FORMAT"}}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                     <div>
                                         <a class="btn btn-success" href="{% url 'notas-tecnicas:detail' nt.id %}">Ver</a>
                                     </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="pull-right"><a href="{% url 'notas-tecnicas:notas-tecnicas-edificio' object.id %}">Ver historial completo</a></div>
                    {% else %}
                        <div class="alert alert-dismissable alert-success">
                            <small>
                                No tienes nuevas notas técnicas,
                                <a href="{% url 'notas-tecnicas:notas-tecnicas-edificio' object.id %}">consulta el historial completo</a>.
                            </small>
                        </div>
                    {% endif %}
                </div>
            </div><!-- / notas tecnicas -->
            <div class="panel panel-primary"><!-- notificaciones de clientes -->
                <div class="panel-heading">
                    <i class="fa fa-bullhorn fa-fw"></i> Nuevas sugerencias
                </div>
                <div class="panel-body dashboard_block_panel">
                    {% if notificaciones %}
                        {% for ne in notificaciones %}
                            <div class="row row_box {% if forloop.counter|divisibleby:2 == False %}alt0{% else %}alt1{% endif %}">
                                <div class="col-sm-4">
                                    {% if ne.producto %}
                                        <a href="{% url 'productos:detail' ne.producto.id %}">
                                            {% if ne.producto.image %}
                                                <img data-toggle="tooltip" data-placement="right" title="{{ne.producto}}" src="{% thumbnail ne.producto.image 50x50 crop %}" alt="No imagen">
                                            {% else %}
                                                <img data-toggle="tooltip" data-placement="right" title="{{ne.producto}}" src="{% static 'images/sin-imagen-100x100.jpg' %}">
                                            {% endif %}

                                        </a>
                                    {% else %}
                                        <a href="{% url 'servicios:detail' ne.servicio.id %}">
                                            {% if ne.servicio.image %}
                                                <img data-toggle="tooltip" data-placement="right" title="{{ne.servicio}}" src="{% thumbnail ne.servicio.image 50x50 crop %}" alt="No imagen">
                                            {% else %}
                                                <img data-toggle="tooltip" data-placement="right" title="{{ne.servicio}}" src="{% static 'images/sin-imagen-100x100.jpg' %}">
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="col-sm-6" >
                                    <div>
                                        {{ne.estado|mostrar_estados}} <strong>{{ne.titulo}}</strong>
                                        <br>
                                        <i class="fa fa-clock-o"></i> {{ne.creado|date:"SHORT_DATE_FORMAT"}}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                        {% if ne.servicio %}
                                            <a class="btn btn-success" href="{% url 'notificaciones:edificios-servicios-detail' ne.id %}">Ver</a>
                                        {% else %}
                                            <a class="btn btn-success" href="{% url 'notificaciones:edificios-productos-detail' ne.id %}">Ver</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="pull-right"><a href="{% url 'notificaciones:edificio-list' object.id %}">Ver historial completo</a></div>
                    {% else %}
                        <div class="alert alert-dismissable alert-success">
                            <small>
                                No tienes nuevas sugerencias,
                                <a href="{% url 'notificaciones:edificio-list' object.id %}">consulta el historial completo</a>.
                            </small>
                        </div>
                    {% endif %}
                </div>
            </div><!-- / notificaciones de clientes -->

            <div class="panel panel-primary"><!-- Localización -->
                <div class="panel-heading">
                  <i class="fa fa-map-marker text-white"></i> Localización
                </div>
                <div class="panel-body">
                    <iframe
                      width="420"
                      height="200"
                      frameborder="0" style="border:0"
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDnwejTwAlNzvX2DX-0b-_-KrfcJUs6uDo
                        &q={{object.direccion}}, Rosario, Santa Fe">
                    </iframe>
                </div>
            </div><!-- / Localización -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <label><strong>Comentarios: </strong></label>
                {% if object.comentario %}
                    <div class="pull-right">
                        <a href="{% url 'edificios:administraciones_comentario_update' object.id %}">
                            <i class="fa fa-pencil text-muted"></i>
                        </a>
                    </div>
                    <br>
                    {{ object.comentario }}
                 {% else %}
                    <a href="{% url 'edificios:administraciones_comentario_update' object.id %}">
                        Aún no tienes comentarios, agregar uno.
                    </a>
                 {% endif %}
            </div>
        </div>
    </div>
    {% if otros_edificios %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Otros clientes</h1>
            </div>
            {% for otro_edificio in otros_edificios %}
                <div class="col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <i class="fa fa-building fa-fw"></i> {{otro_edificio.nombre}}
                        </div>
                        <div class="panel-body text-center">
                            {% if otro_edificio.foto_fachada %}
                                <img class="img-responsive center-block" src="{% thumbnail otro_edificio.foto_fachada 100x100 crop %}" alt="No imagen">
                            {% else %}
                                <img class="img-responsive center-block" src="{% static 'images/edificio-sin-foto100x100.png' %}">
                            {% endif %}
                            <strong>{{otro_edificio.direccion}}</strong>
                            <br><br>
                            <a class="btn btn-success" href="{% url 'edificios:administraciones' otro_edificio.id %}">Visitar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- modal 'recursos' -->
    <div class="modal fade" id="recursos_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Recursos
                </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="{% url 'contactos:edificio_contactos_list' object.id %}">
                                <i class="fa fa-user-plus fa-5x"></i><br>
                                Contactos
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="{% url 'fotos:administracion_list' object.id %}">
                                <i class="fa fa-picture-o fa-5x"></i><br>
                                Fotos
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="{% url 'horarios:edificio_horario_list' object.id %}">
                                <i class="fa fa-clock-o fa-5x"></i><br>
                                Horarios
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="{% url 'llaves:set_llaves' object.id %}">
                                <i class="fa fa-key fa-5x"></i><br>
                                Llaves
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- / modal 'recursos' -->
{% endautoescape %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/notificaciones.css' %}" rel="stylesheet">
{% endblock css %}
