{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} {{object.nombre}} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ object.nombre }}</h1>
            <a id="open_recursos_modal">Recursos</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="well ">
                {% if object.foto_fachada %}
                    <div class="pull-right">
                        <a href="{% url 'edificios:administraciones_fachada_update' object.id %}">
                            <i class="fa fa-pencil text-muted"></i>
                        </a>
                    </div>
                    <br>
                    <img src="{% thumbnail object.foto_fachada 300x300 crop %}" alt="No imagen">
                {% else %}
                    <img src="{% static 'images/edificio-sin-foto.png' %}">
                    <br>
                    <a href="{% url 'edificios:administraciones_fachada_update' object.id %}">
                        Agregá una foto de fachada
                    </a>
                {% endif %}
            </div>
            <!-- fotos miniaturas -->
            {% include 'fotos/edificios_fotos.html' %}
            <!-- / fotos miniaturas -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <i class="fa fa-bars text-white"></i> Detalles
                  <div class="pull-right">
                      <a title="Editar" href="{% url 'edificios:administraciones_detalles_update' object.id %}">
                          <i class="fa fa-pencil text-white"></i>
                      </a>
                  </div>
                </div>
                <div class="panel-body">
                    <div class="well well-lg">
                      <label><strong>Dirección: </strong></label>
                      {{ object.direccion }}
                      <br>
                      <label><strong>Cantidad de pisos: </strong></label>
                      {% if object.cantidad_pisos %}{{ object.cantidad_pisos }}{% else %}-{% endif %}
                      <br>
                      <label><strong>Cantidad de unidades: </strong></label>
                      {% if object.cantidad_unidades %}{{ object.cantidad_unidades}}{% else %}-{% endif %}
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                  <i class="fa fa-map-marker text-white"></i> Localización
                </div>
                <div class="panel-body">
                    <iframe
                      width="420"
                      height="200"
                      frameborder="0" style="border:0"
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDnwejTwAlNzvX2DX-0b-_-KrfcJUs6uDo
                        &q={{object.direccion}}, Rosario, Santa Fe">
                    </iframe>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <label><strong>Comentarios: </strong></label>
                {% if object.comentario %}
                    <div class="pull-right">
                        <a href="{% url 'edificios:administraciones_comentario_update' object.id %}">
                            <i class="fa fa-pencil text-muted"></i>
                        </a>
                    </div>
                    <br>
                    {{ object.comentario }}
                 {% else %}
                    <a href="{% url 'edificios:administraciones_comentario_update' object.id %}">
                        Aún no tienes comentarios, agregar uno.
                    </a>
                 {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Otros clientes</h1>
        </div>
        {% for otro_edificio in otros_edificios %}
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <i class="fa fa-building fa-fw"></i> {{otro_edificio.nombre}}
                    </div>
                    <div class="panel-body text-center">
                        {% if otro_edificio.foto_fachada %}
                            <img class="img-responsive center-block" src="{% thumbnail otro_edificio.foto_fachada 100x100 crop %}" alt="No imagen">
                        {% else %}
                            <img class="img-responsive center-block" src="{% static 'images/edificio-sin-foto100x100.png' %}">
                        {% endif %}
                        <strong>{{otro_edificio.direccion}}</strong>
                        <br><br>
                        <a class="btn btn-success" href="{% url 'edificios:administraciones' otro_edificio.id %}">Visitar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



<!-- modal 'recursos' -->
<div class="modal fade" id="recursos_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
                Recursos
            </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pull-right">
                            <i class="fa fa-user-plus fa-5x"></i><br>
                            <a href="{% url 'contactos:edificio_contactos_list' object.id %}">Contactos</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-user-plus fa-5x"></i><br>
                        <a href="{% url 'contactos:edificio_contactos_list' object.id %}">Contactos</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- / modal 'recursos' -->

{% endblock %}