{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}Salir{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">

        <h2>Salir</h2>

        <p>¿Está realmente seguro de salir de la aplicación?</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-danger" type="submit">Salir</button>
          <a href="/">Cancelar</a>
        </form>
    </div>
  </div>
</div>

{% endblock %}
