{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Fotos{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <br>
            <a class="btn btn-success" href="{% url 'fotos:administracion_list' edificio.id %}"><i class="fa fa-reply"> Volver</i></a>
            <h1 class="page-header">
                {% if form.instance.id %}
                    Editar
                {% else %}
                    Nueva
                {% endif %}
                Foto del edificio "{{ edificio.nombre }}"
            </h1>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Confirmar</button>
                  </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}